body{ 
	color: bisque;
	background-color: peru;
	font-family: Arial
	}

	div{
		color: gainsboro;
		background-color: saddlebrown;
	{

	@media screen and {min-width: 750px} {
	body{
		color: mocassin;
		background-color: maroon;
		font-family: Georgia
	}
}
