@charset "UTF-8";
body {
    background-color: #212121;
    background-image: url(Images/OwnerCats.jpg);
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #FFFEFE;
    font-weight: bolder;
    font-variant: small-caps;
    font-size: large;
    background-attachment: scroll;
}
h1 {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: xx-large;
    text-align: center;
    color: #FFFFFF;
}
p {
    background-color: #000000;
    border-left-width: 50%;
    width: 100%;
    color: #FFFDFD;
}
footer {
    background-color: #000000;
    bottom: 0px;
    float: right;
    position: fixed;
    color: #FFFFFF;
}
body nav a {
    color: #FFF9FA;
    font-size: medium;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: center;
}

@media (max-width:700px){
}
